html {
	font-size: 62.5%;
	font-family: "microsoft yahei";
	color: #000;
}

body {
	font-size: 1.4rem;
	overflow-x: hidden;
	padding: 1rem;
}

a {
	text-decoration: none;
	color: #000;
}

.mt06 {
	margin-top: 0.6rem;
}

.mt1 {
	margin-top: 1rem;
}

.mt2 {
	margin-top: 2rem;
}

.mt5 {
	margin-top: 5rem;
}

.ml1 {
	margin-left: 1rem;
}

.ml2 {
	margin-left: 2rem;
}

.ml5 {
	margin-left: 5rem;
}

.color-00c {
	color: #00c;
}

.color-red {
	color: red;
}

.fw7 {
	font-weight: 700;
}

.flex {
	display: flex;
}

.border-ccc {
	border: 1px solid #ccc;
}

.textr {
	text-align: right;
}

.textc {
	text-align: center;
}

.row {
	display: flex;
	text-align: center;
	align-items: center;
	position: relative;
}

.row:not(:last-child) {
	border-bottom: 1px solid #ccc;
}

.col {
	flex: 1;
}

.col2 {
	flex: 2;
}

.col3 {
	flex: 3;
}

.col4 {
	flex: 4;
}

.border-left-ccc {
	border-left: 1px solid #ccc;
}

.border-right-ccc {
	border-right: 1px solid #ccc;
}

.bg-th {
	background: rgb(224, 236, 255);
}

.padding06 {
	padding: 0.6rem;
}

.padding1 {
	padding: 1rem;
}
 .w50 {
	width: 50px;
}

.w100 {
	width: 100px;
}
.w150{
	width: 150px;
}
.w200{
	width: 200px;
}
.w250{
	width: 250px;
}
.w300{
	width: 300px;
}
.w500{
	width: 500px;
}


a.btn1 {
	display: block;
	width: 8rem;
	text-align: center;
	padding: 0.6rem 0;
	background: rgb(224, 236, 255);
	border-radius: 5px;
	font-weight: 700;
	cursor: pointer;
}

a.btn2 {
	display: inline-block;
	width: 10rem;
	text-align: center;
	padding: 0.6rem 0;
	background: rgb(224, 236, 255);
	border-radius: 5px;
	font-weight: 700;
	cursor: pointer;
	margin-left: 10rem;
}

a.btn3 {
	display: inline-block;
	text-align: center;
	padding: 0.6rem 1rem;
	background: rgb(255, 100, 5);
	border-radius: 5px;
	font-weight: 700;
	cursor: pointer;
	color: #fff;
}

a.btn4 {
	width: 3rem;
	display: inline-block;
	text-align: center;
	padding: 0.2rem 0;
	background: rgb(255, 100, 5);
	border-radius: 5px;
	cursor: pointer;
	color: #fff;
}

.inputBox {
	margin-bottom: 10px
}

.table {
	width: 800px;
	border: 1px solid #ccc;
	border-collapse: collapse;
}

.table th,
.table td {
	border: 1px solid #ccc;
	height: 30px;
	vertical-align: middle;
}
.table td.factorCode input {
	width: 250px;
	border: none;
}
.table td.factorVal {
	cursor: pointer;
}

.table input[type='text'] {
	height: 29px;
	border: none;
}
.itemCode,
.itemValue{
	width:140px;
}
.table textarea {
	border: none;
	resize: none;
}
.table textarea.responExplain{
	width: 200px;
	height: 100px;
}

.dataConfig
{
	width: 398px;
	height: 398px;
	margin-left: -200px;
	margin-top: -200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background: #fff;
	border: 1px solid #ccc;
	display: none;
}
.dataConfig .title
 {
	background: rgb(242, 242, 242);
	height: 35px;
	line-height: 35px; 
	padding-left: 20px;
}
.dataConfig .box{
	padding: 20px;
}
.dataConfig table {
	width: 98%;
	margin:15px  auto 0;
}
.dataConfig textarea {
	width: 390px;
	height: 290px;
	resize: none;
}



.dataConfig table select {
	width: 150px;
}

.btnBox {
	text-align: center;
	margin-top: 20px;
}