body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1252px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:479px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1258 {
  position:absolute;
  left:70px;
  top:81px;
  width:375px;
  height:479px;
}
#u1259 {
  position:absolute;
  left:2px;
  top:232px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#000000;
}
#u1260 {
  position:absolute;
  left:221px;
  top:93px;
  width:89px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u1261 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1262 {
  position:absolute;
  left:70px;
  top:136px;
  width:375px;
  height:1px;
}
#u1263 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#000000;
}
#u1264 {
  position:absolute;
  left:401px;
  top:99px;
  width:31px;
  height:17px;
  font-size:15px;
  color:#000000;
}
#u1265 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u1266 {
  position:absolute;
  left:221px;
  top:151px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u1267 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1268 {
  position:absolute;
  left:81px;
  top:240px;
  width:363px;
  height:64px;
  text-align:center;
}
#u1269 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  word-wrap:break-word;
}
#u1270_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:78px;
  height:21px;
}
#u1270p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:70px;
  height:1px;
}
#u1270p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:82px;
  height:22px;
}
#u1270p001 {
  position:absolute;
  left:54px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1270p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:30px;
  height:40px;
}
#u1270.compound {
  width:0px;
  height:0px;
}
#u1270 {
  position:absolute;
  left:432px;
  top:104px;
  width:68px;
  height:1px;
}
#u1271 {
  position:absolute;
  left:2px;
  top:-8px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1272 {
  position:absolute;
  left:510px;
  top:94px;
  width:53px;
  height:16px;
  color:#0000FF;
}
#u1273 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1274 {
  position:absolute;
  left:70px;
  top:390px;
  width:375px;
  height:150px;
}
#u1275 {
  position:absolute;
  left:2px;
  top:67px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u1276 {
  position:absolute;
  left:82px;
  top:407px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u1277 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u1278 {
  position:absolute;
  left:83px;
  top:428px;
  width:196px;
  height:80px;
  line-height:20px;
}
#u1279 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u1280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1280 {
  position:absolute;
  left:120px;
  top:341px;
  width:290px;
  height:35px;
}
#u1281 {
  position:absolute;
  left:2px;
  top:10px;
  width:286px;
  word-wrap:break-word;
}
#u1282_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:116px;
  height:21px;
}
#u1282p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:108px;
  height:1px;
}
#u1282p000_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:120px;
  height:22px;
}
#u1282p001 {
  position:absolute;
  left:93px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1282p001_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:32px;
  height:42px;
}
#u1282.compound {
  width:0px;
  height:0px;
}
#u1282 {
  position:absolute;
  left:380px;
  top:357px;
  width:106px;
  height:1px;
}
#u1283 {
  position:absolute;
  left:2px;
  top:-8px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1284 {
  position:absolute;
  left:496px;
  top:350px;
  width:53px;
  height:16px;
  color:#0000FF;
}
#u1285 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1286_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:123px;
  height:21px;
}
#u1286p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:115px;
  height:1px;
}
#u1286p000_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:126px;
  height:22px;
}
#u1286p001 {
  position:absolute;
  left:100px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1286p001_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:32px;
  height:42px;
}
#u1286.compound {
  width:0px;
  height:0px;
}
#u1286 {
  position:absolute;
  left:373px;
  top:315px;
  width:113px;
  height:1px;
}
#u1287 {
  position:absolute;
  left:2px;
  top:-8px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1288 {
  position:absolute;
  left:496px;
  top:303px;
  width:100px;
  height:16px;
  color:#0000FF;
}
#u1289 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u1290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1290 {
  position:absolute;
  left:134px;
  top:449px;
  width:9px;
  height:16px;
}
#u1291 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  white-space:nowrap;
}
#u1292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1292 {
  position:absolute;
  left:120px;
  top:297px;
  width:290px;
  height:36px;
}
#u1293 {
  position:absolute;
  left:2px;
  top:10px;
  width:286px;
  word-wrap:break-word;
}
#u1294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:37px;
}
#u1294 {
  position:absolute;
  left:83px;
  top:88px;
  width:21px;
  height:37px;
}
#u1295 {
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1296 {
  position:absolute;
  left:68px;
  top:31px;
  width:105px;
  height:16px;
  color:#0000FF;
}
#u1297 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u1298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u1298 {
  position:absolute;
  left:93px;
  top:50px;
  width:1px;
  height:50px;
}
#u1299 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:508px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1300 {
  position:absolute;
  left:684px;
  top:72px;
  width:375px;
  height:508px;
}
#u1301 {
  position:absolute;
  left:2px;
  top:246px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:37px;
}
#u1302 {
  position:absolute;
  left:697px;
  top:80px;
  width:21px;
  height:37px;
}
#u1303 {
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#000000;
}
#u1304 {
  position:absolute;
  left:819px;
  top:85px;
  width:89px;
  height:26px;
  font-size:22px;
  color:#000000;
}
#u1305 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1306 {
  position:absolute;
  left:684px;
  top:128px;
  width:375px;
  height:1px;
}
#u1307 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1308 {
  position:absolute;
  left:684px;
  top:128px;
  width:375px;
  height:1px;
}
#u1309 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1310_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:101px;
  height:69px;
}
#u1310 {
  position:absolute;
  left:822px;
  top:192px;
  width:81px;
  height:58px;
}
#u1311 {
  position:absolute;
  left:2px;
  top:21px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u1312 {
  position:absolute;
  left:825px;
  top:158px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u1313 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:36px;
  background:-webkit-linear-gradient(270deg, rgba(243, 247, 250, 1) 0%, rgba(243, 247, 250, 1) 0%, rgba(223, 232, 237, 1) 100%, rgba(223, 232, 237, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(243, 247, 250, 1) 0%, rgba(243, 247, 250, 1) 0%, rgba(223, 232, 237, 1) 100%, rgba(223, 232, 237, 1) 100%);
  background:linear-gradient(180deg, rgba(243, 247, 250, 1) 0%, rgba(243, 247, 250, 1) 0%, rgba(223, 232, 237, 1) 100%, rgba(223, 232, 237, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(156, 203, 247, 1);
  border-radius:4.33334350585938px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#1C4070;
}
#u1314 {
  position:absolute;
  left:742px;
  top:300px;
  width:260px;
  height:36px;
  font-size:15px;
  color:#1C4070;
}
#u1314_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:36px;
  background:-webkit-linear-gradient(270deg, rgba(243, 247, 250, 1) 0%, rgba(243, 247, 250, 1) 0%, rgba(223, 232, 237, 1) 100%, rgba(223, 232, 237, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(243, 247, 250, 1) 0%, rgba(243, 247, 250, 1) 0%, rgba(223, 232, 237, 1) 100%, rgba(223, 232, 237, 1) 100%);
  background:linear-gradient(180deg, rgba(243, 247, 250, 1) 0%, rgba(243, 247, 250, 1) 0%, rgba(223, 232, 237, 1) 100%, rgba(223, 232, 237, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 170, 57, 1);
  border-radius:4.33334350585938px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#1C4070;
}
#u1314.mouseOver {
}
#u1314_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(156, 203, 247, 1);
  border-radius:4.33334350585938px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#1C4070;
}
#u1314.selected {
}
#u1315 {
  position:absolute;
  left:2px;
  top:10px;
  width:256px;
  word-wrap:break-word;
}
#u1316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:36px;
  background:-webkit-linear-gradient(270deg, rgba(243, 247, 250, 1) 0%, rgba(243, 247, 250, 1) 0%, rgba(223, 232, 237, 1) 100%, rgba(223, 232, 237, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(243, 247, 250, 1) 0%, rgba(243, 247, 250, 1) 0%, rgba(223, 232, 237, 1) 100%, rgba(223, 232, 237, 1) 100%);
  background:linear-gradient(180deg, rgba(243, 247, 250, 1) 0%, rgba(243, 247, 250, 1) 0%, rgba(223, 232, 237, 1) 100%, rgba(223, 232, 237, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(156, 203, 247, 1);
  border-radius:4.33334350585938px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#1C4070;
}
#u1316 {
  position:absolute;
  left:744px;
  top:359px;
  width:260px;
  height:36px;
  font-size:15px;
  color:#1C4070;
}
#u1316_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:36px;
  background:-webkit-linear-gradient(270deg, rgba(243, 247, 250, 1) 0%, rgba(243, 247, 250, 1) 0%, rgba(223, 232, 237, 1) 100%, rgba(223, 232, 237, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(243, 247, 250, 1) 0%, rgba(243, 247, 250, 1) 0%, rgba(223, 232, 237, 1) 100%, rgba(223, 232, 237, 1) 100%);
  background:linear-gradient(180deg, rgba(243, 247, 250, 1) 0%, rgba(243, 247, 250, 1) 0%, rgba(223, 232, 237, 1) 100%, rgba(223, 232, 237, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 170, 57, 1);
  border-radius:4.33334350585938px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#1C4070;
}
#u1316.mouseOver {
}
#u1316_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(156, 203, 247, 1);
  border-radius:4.33334350585938px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#1C4070;
}
#u1316.selected {
}
#u1317 {
  position:absolute;
  left:2px;
  top:10px;
  width:256px;
  word-wrap:break-word;
}
#u1318_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:136px;
  height:21px;
}
#u1318p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:128px;
  height:1px;
}
#u1318p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:138px;
  height:22px;
}
#u1318p001 {
  position:absolute;
  left:113px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1318p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:30px;
  height:40px;
}
#u1318.compound {
  width:0px;
  height:0px;
}
#u1318 {
  position:absolute;
  left:969px;
  top:318px;
  width:126px;
  height:1px;
}
#u1319 {
  position:absolute;
  left:2px;
  top:-8px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1320_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:136px;
  height:21px;
}
#u1320p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:128px;
  height:1px;
}
#u1320p000_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:140px;
  height:22px;
}
#u1320p001 {
  position:absolute;
  left:113px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1320p001_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:32px;
  height:42px;
}
#u1320.compound {
  width:0px;
  height:0px;
}
#u1320 {
  position:absolute;
  left:966px;
  top:377px;
  width:126px;
  height:1px;
}
#u1321 {
  position:absolute;
  left:2px;
  top:-8px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1322 {
  position:absolute;
  left:1105px;
  top:309px;
  width:105px;
  height:16px;
  color:#0000FF;
}
#u1323 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u1324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1324 {
  position:absolute;
  left:1102px;
  top:369px;
  width:150px;
  height:16px;
  color:#0000FF;
}
#u1325 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u1326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1326 {
  position:absolute;
  left:684px;
  top:31px;
  width:105px;
  height:16px;
  color:#0000FF;
}
#u1327 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u1328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u1328 {
  position:absolute;
  left:709px;
  top:50px;
  width:1px;
  height:50px;
}
#u1329 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1330_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:110px;
  height:78px;
}
#u1330 {
  position:absolute;
  left:212px;
  top:180px;
  width:90px;
  height:67px;
}
#u1331 {
  position:absolute;
  left:2px;
  top:26px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
