<h3>一、投保须知</h3>
<p>1、投保地区
    <br>本计划仅限在中国大陆有固定居住地的人士投保。</p>
<p>2、保单形式
    <br>网上投保为您提供电子保单，根据《中华人民共和国合同法》第十一条规定，数据电文是合法的合同表现形式，电子保单与纸质保单具有同等法律效力。您可以登录www.tk.cn自助查询对电子保单的真实性进行验证。
</p>
<p>3、如实告知
    <br>您应如实填写投保信息，并就我们提出的询问据实告知,否则我们有权根据《中华人民共和国保险法》第十六条的规定解除保险合同且不承担赔偿责任：
    <br>（1）订立保险合同时，保险公司就保险标的或者被保险人的有关情况提出询问的，投保人应当如实告知。
    <br>（2）投保人故意或者因重大过失未履行前款规定的如实告知义务，足以影响保险公司决定是否同意承保或者提高保险费率 的，保险公司有权解除合同。
    <br>（3）投保人故意不履行如实告知义务的，保险公司对于合同解除前发生的保险事故，不承担赔偿责任，并不退还保险费。
    <br>（4）投保人因重大过失未履行如实告知义务，对保险事故的发生有严重影响的，保险公司对于合同解除前发生的保险事故，不承担赔偿责任，但退还保险费。
</p>
<p>4、信息变更
    <br>如果您的邮件地址、通信地址、邮编、联系电话发生变化，请与本公司客户服务电话40000-95522联系，办理变更事宜。</p>
<h3>二、投保声明</h3>
<p>
    1、本人已完整阅读并了解以上投保须知及投保险种的保险条款。
    <br>2、投保单中所填写的内容均属实，如有隐瞒或不实告知，你公司有权解除保险合同，对于合同解除前发生的任何事故，你公司可不承担任何责任。
    <br>3、本人已知晓本产品在网上投保申请日后次日零时即生效；
    <br>4、本人已知晓本产品仅可购买一份，多投超出部分无效。
    <br>5、本人同意你公司通过手机（包括手机短信）、E-mail适时提供保险信息服务。
</p>
