<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>产品详情</title>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,target-densitydpi=medium-dpi">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link href="../css/m_style.css" rel="stylesheet" type="text/css">
    <link href="../css/wap_detail.css" rel="stylesheet" type="text/css">
    <style>

    </style>
</head>

<body class="bg-g">
    <div class="wapAnalysis" componentId="wapAnalysis">
        <div class="analysisLable">需求分析</div>
        <div class="analysisDesc">我是否适合这款产品？</div>
    </div>

    <div class="question">
        <h2 class="title">常见问题</h2>
        <article class="list listShow">
            <ul class="item">
                <li>
                    <dl class="">
                        <dt>Q: 意外伤害具体包括什么？<span class="icon-arr"></span></dt>
                        <dd>因乘坐保障责任中包含的交通工具导致的身故的保额应为交通工具责任中的身故保额+意外身故保额，比如购买钻石款后因乘坐火车导致意外身故则可赔偿60万+50万=110万。</dd>
                    </dl>
                </li>
                <li>
                    <dl class="">
                        <dt>Q: 因乘坐交通工具导致的意外身故应该如何赔偿？<span class="icon-arr"></span></dt>
                        <dd>因乘坐保障责任中包含的交通工具导致的身故的保额应为交通工具责任中的身故保额+意外身故保额，比如购买钻石款后因乘坐火车导致意外身故则可赔偿60万+50万=110万。</dd>
                    </dl>
                </li>
            </ul>
        </article>
    </div>
    <script src="../js/common.js"></script>
    <script>
        window.onload = function() {
            var aDl = document.querySelectorAll('.listShow dt');
            for (var i = 0; i < aDl.length; i++) {
                product.showDl(aDl[i]);
            }
            product.tab('tab');
            product.alertFn('dialogbox');
            product.audio();
        }
    </script>
</body>

</html>
