<li>
    <h3 class="selarea">
        <select id="insCidtype" class="tkinsuredIdType">
            <option>身份证</option>
        </select>
        <span class="icon-arr2"></span>
    </h3>
    <p class="insIdNumber">
        <input type="email" class="tkinsuredId" placeholder="请输入证件号码" id="insCidNumber" />
    </p>
    <p class="insIdDate" style="display:none;" >
        <input type="text" value="" placeholder="请选择" readonly="readonly" id="insIdDate" class="idDate tkinsuredId" onblur="_smq1('投保流程_填写被保人信息','地址');_smq2('投保流程_填写被保人信息地址');" />
        <span class="icon-arr2"></span>
    </p>
</li>
